@use 'foundation' as *;

.c-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.c-to-top a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: $white;
  position: relative;
}

.c-to-top a span {
  position: absolute;
  background-color: transparent;
  width: 15px;
  height: 15px;
  border-top: 2px solid $black;
  border-right: 2px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);

}