@use 'foundation' as *;

.c-section-header {
color: $purple;
text-align: center;
}

.c-section-header__title {
font-size: 30px;
font-weight: $bold;
text-transform: uppercase;
letter-spacing: 0.05em;
line-height: 1.2;
@include mq("md") {
  font-size: 36px;
}

}

.c-section-header__subtitle {
font-size: 13px;
line-height: 1;
font-weight: $bold;
@include mq("md") {
  font-size: 14px;
}
}