@use 'foundation' as *;

.p-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 62px;
  width: 100%;
}

.p-header__inner {
  display: flex;
  height: inherit;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  @include mq("md") {
    padding: 0 25px;
  }
}

.p-header__logo {
  height: inherit;
}

.p-header__logolink {
  font-size: 20px;
  color: $white;
  text-transform: uppercase;
  height: inherit;
  align-items: center;
  display: flex;
}

.p-header__nav {
  height: inherit;
}

